.login{ 
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
      
}
button{
    margin-right: 10px;
    margin-left: 50px;
}
label{
    margin-right:8px;
}
td{
    margin-left: 5px;
    margin-right: 5px;
}
h2{
    text-align: center;
}